@use 'sass:map';
@import 'theme.scss';
@import 'responsive.scss';

html,

body {
    margin: 0;
}

* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1170px;
    width: 100%;
    // background: map.get($theme-colors, 'main');
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-lg-4 {
    flex: 0 0 25%;
    max-width: 25%;
    // background: red;
}

@include Responsive($MEDIUM_DEVICE){
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
        background-color: red;
    }
}

@include Responsive($DESKTOP){
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
        background-color: white;
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
        background-color: white;
    }
}